<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Robert Downey Jr.</string>
		<key>born</key>
		<string>April 4, 1965</string>
		<key>biography</key>
		<string>Robert John Downey Jr. (born April 4, 1965)[2] is an American actor and singer. His career has included critical and popular success in his youth, followed by a period of substance abuse and legal difficulties, and a resurgence of commercial success in middle age. For three consecutive years from 2012 to 2015, Downey topped the Forbes list of Hollywood&apos;s highest-paid actors, making an estimated $80 million in earnings between June 2014 and June 2015.[3][4]

Making his acting debut at the age of five, appearing in his father&apos;s film Pound (1970), Downey appeared in roles associated with the Brat Pack, such as the teen sci-fi comedy Weird Science (1985) and the drama Less Than Zero (1987). He starred as the title character in the 1992 film Chaplin, for which he earned a nomination for the Academy Award for Best Actor and he won the BAFTA Award for Best Actor in a Leading Role. After being released in 2000 from the California Substance Abuse Treatment Facility and State Prison where he was incarcerated on drug charges, Downey joined the cast of the TV series Ally McBeal playing Calista Flockhart&apos;s love interest. For that he earned a Golden Globe Award. His character was terminated when Downey was fired after two drug arrests in late 2000 and early 2001. After his last stay in a court-ordered drug treatment program, Downey achieved sobriety.

Downey&apos;s career prospects improved when he featured in the black comedy crime Kiss Kiss Bang Bang (2005), the mystery thriller Zodiac (2007), and the satirical action comedy Tropic Thunder (2008); for the latter he was nominated for an Academy Award for Best Supporting Actor. Beginning in 2008, Downey began portraying the role of Marvel Comics superhero Iron Man in the Marvel Cinematic Universe, appearing in several films as either the lead role, member of an ensemble cast, or in a cameo. Each of these films, with the exception of The Incredible Hulk, has grossed over $500 million at the box office worldwide; four of these—The Avengers, Avengers: Age of Ultron, Iron Man 3 and Captain America: Civil War—earned over $1 billion, while Avengers: Infinity War earned over $2 billion.

Downey has also played the title character in Guy Ritchie&apos;s Sherlock Holmes (2009), which earned him his second Golden Globe win, and its sequel (2011), both of which have earned over $500 million at the box office worldwide.

As of 2018, the U.S. domestic box-office grosses of Downey&apos;s films total over US $4.9 billion, with worldwide grosses surpassing $11.6 billion, making Downey the third highest-grossing U.S. domestic box-office star of all time.[5]</string>
		<key>imageName</key>
		<string>Robert</string>
		<key>wikiUrlString</key>
		<string>https://en.wikipedia.org/wiki/Robert_Downey_Jr.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Emilia Clarke</string>
		<key>born</key>
		<string>October 23, 1986</string>
		<key>biography</key>
		<string>Emilia Clarke (born 23 October 1986) is an English actress. Clarke studied at the Drama Centre London and appeared in a number of stage productions. Her television debut came in 2009 with a guest appearance in an episode of the British soap opera Doctors. The following year, she was named as one of the UK Stars of Tomorrow by Screen International magazine for her role in the Syfy film Triassic Attack (2010).

Clarke rose to international prominence in 2011 for her breakthrough role as Daenerys Targaryen in the HBO fantasy television series Game of Thrones (2011–present). It gained her critical acclaim and several accolades, including three nominations for the Primetime Emmy Award for Outstanding Supporting Actress in a Drama Series.

Emilia Clarke (born 23 October 1986) is an English actress. Clarke studied at the Drama Centre London and appeared in a number of stage productions. Her television debut came in 2009 with a guest appearance in an episode of the British soap opera Doctors. The following year, she was named as one of the UK Stars of Tomorrow by Screen International magazine for her role in the Syfy film Triassic Attack (2010).

Clarke rose to international prominence in 2011 for her breakthrough role as Daenerys Targaryen in the HBO fantasy television series Game of Thrones (2011–present). It gained her critical acclaim and several accolades, including three nominations for the Primetime Emmy Award for Outstanding Supporting Actress in a Drama Series.

Clarke made her Broadway debut as Holly Golightly in a production of Breakfast at Tiffany&apos;s in 2013. Her film roles include Sarah Connor in the science fiction film Terminator Genisys (2015), Louisa Clark in the romance film Me Before You (2016), and Qi&apos;ra in the Star Wars anthology film Solo: A Star Wars Story (2018).</string>
		<key>imageName</key>
		<string>Emilia</string>
		<key>wikiUrlString</key>
		<string>https://en.wikipedia.org/wiki/Emilia_Clarke</string>
	</dict>
</array>
</plist>
